{
	tailscale {
		# /data is /srv/stacks/caddy/data on blackberry -- see docker-compose.yml's volume mount
		state_dir /data/tailscale
		ephemeral false
		auth_key {$TAILSCALE_AUTH_KEY}
	}
}


:443 {
	bind tailscale/whoami-a
	tls {
		get_certificate tailscale
	}
	reverse_proxy whoami-a:80
}

:443 {
	bind tailscale/whoami-b
	tls {
		get_certificate tailscale
	}
	reverse_proxy whoami-b:80
}
