{
	tailscale {
		# /data is /srv/stacks/caddy/data on blackberry -- see docker-compose.yml's volume mount
		state_dir /data/tailscale
		ephemeral false
		auth_key {$TAILSCALE_AUTH_KEY}
	}
}

:443 {
	bind tailscale/jellyfin
	tls {
		get_certificate tailscale
	}
	reverse_proxy jellyfin:8096
}
